/*
$background-color: white;
$_primary-color: rgba(245, 244, 244, 0.192);
$_secundary-color: rgb(233, 233, 233);
$_hover-color: rgb(227, 227, 227);
$_focus-color: rgb(221, 221, 221);

$primary-color: white;
$secundary-color: rgb(248, 248, 248);
$hover-color: rgb(238, 238, 238);
$focus-color: rgb(243, 243, 243);
*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap");

$border-color: rgb(31, 31, 32);
$primary-color: rgb(46, 47, 53);
$primary-color-hover: rgb(44, 44, 49);
$primary-color-selected: rgb(41, 42, 48);
$primary-color-2: rgb(51, 51, 58);
$secundary-color: #880e4f;
$secundary-color-hover: #770c45;
$secundary-color-disabled: #6b0b3e;
$test-color: #544e4e;

* {
  color: white;
}

/*body {
  font-family: "Open Sans";
  font-size: medium;
  background-color: $background-color;
}*/

body {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
}

input[type="text"],
input[type="password"] {
  display: block;
  padding: 10px;
  border: none;
  outline: none;
  background-color: $primary-color-2;
  border-radius: 10px;
}

input[type="button"],
input[type="submit"] {
  border: none;
  outline: none;
  padding: 12.5px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: inherit;

  &.btnPurple {
    background-color: $secundary-color;
    color: white;

    &:hover {
      background-color: $secundary-color-hover;
    }

    &.disabled {
      background-color: $secundary-color-disabled;
      color: gray;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

form {
  .error {
    color: red;
    visibility: hidden;
    position: absolute;

    &.active {
      visibility: visible;
      position: static;
    }
  }
}

pre {
  position: static;
  border: 1px solid;
  border-radius: 10px;
  border-color: $border-color;
  padding: 10px;
  margin: 0;
  background-color: $primary-color;
}

.code {
  border: 1px solid;
  border-radius: 10px;
  border-color: $border-color;
  padding: 10px;
}

.icon {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.title {
  font-family: "Abril Fatface";
  font-size: xxx-large;
  font-weight: 600;
}

.modal {
  opacity: 0%;
  box-shadow: 0 0 0 9999px #0000004b;
  position: absolute;
  background-color: $primary-color;
  border: 1px solid;
  border-radius: 10px 10px;
  border-color: $border-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
  max-width: 400px;
  padding: 25px;
  display: none;
  z-index: 10;

  &.active {
    opacity: 100%;
    display: block;
    transition: opacity 1s;
  }

  &.active ~ * {
    pointer-events: none;
  }

  .container {
    overflow: hidden;
    display: flex;
    width: 100%;

    .slide {
      background-color: $primary-color;
      min-width: 100%;
      pointer-events: none;

      display: inline-block;
      height: 0px;
      transition: margin 1s, height 1s;

      &.left {
        background-color: $primary-color;
        margin-left: -100%;
      }

      &.active {
        pointer-events: unset;
        background-color: $primary-color;
        height: auto;
        transition: margin 1s, height 1s;
        margin-left: 0;
      }
    }
  }

  .modalButtons {
    margin-top: 10px;
    display: flex;
  }
}

.UsernameInput {
  display: flex;
  div {
    vertical-align: text-bottom;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: $primary-color-2;
    border: 1px solid $border-color;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  input {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.RegisterUserDisplay {
  display: flex;

  .Picture {
    margin-right: 10px;

    .ProfilePicture {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      cursor: pointer;
    }
    .ProfilePictureInput {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .DisplayNameAndUsername {
    width: 100%;

    input[name="DisplayName"] {
      margin-bottom: 10px;
      border-radius: 0.5rem;
    }

    div {
      display: flex;
      div {
        vertical-align: text-bottom;
        justify-content: center;
        height: 35px;
        width: 35px;
        background-color: $primary-color-2;
        border: 1px solid $border-color;
        border-radius: 0.5rem 0 0 0.5rem;
      }
      input {
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }
}

.ChatDisplayForm {
  display: flex;

  .ChatImage {
    margin-right: 10px;

    .Image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      cursor: pointer;
    }
    .ImageInput {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .NameAndDescription {
    width: calc(100% - 90px);
    input {
      width: calc(100% - 20px);
      border-radius: 10px;
      margin-top: 5px;
    }
  }
}

.RegisterUserPassword {
  input {
    display: block;
    width: calc(100% - 25px);
  }
}

#LoginForm {
  input[type="submit"] {
    margin-top: 10px;
  }
}

.CheckUsersForm {
  margin-top: 10px;
  padding: 5px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 20px;
  border: 1px solid;
  border-color: $border-color;
}

/*input {
  padding-left: 10px;
  height: 30px;
  border-radius: 0.25rem;
}*/

.AppContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.SidebarsContainer {
  width: 30vw;
}

.Sidebar {
  position: relative;
  background-color: $primary-color;
  padding: 0px 10px 10px 10px;
  border-right: $border-color;
  border-right-style: inset;
  border-width: 1px;
  height: calc(100vh - 10px);

  &.TopSidebar {
    width: 30vw;
    padding: 0;
    border-right: $border-color;
    border-right-style: inset;
    border-width: 1px;
    position: absolute;
    top: -100vh;
    z-index: 4;
    transition: 0.5s top;

    &.active {
      top: 0;
    }

    &.ChatInfo {
      .ChatImage {
        height: 30vh;
        background-color: $primary-color-2;
        width: 30vw;
        border-bottom: 1px solid $border-color;

        .Image {
          display:flex;
          background-color: $primary-color-2;
          padding: 1px;
          text-align: center;
          vertical-align: center;
          transform: translate(calc(15vw - 45px), calc(30vh - 45px));
          width: 90px;
          height: 90px;
          border-radius: 50%;
          box-shadow: 0 0 0 5px $primary-color;
        }
        margin-bottom: 50px;
      }
      .ChatName {
        text-align: center;
      }

      .ChatDescription {
        margin-top: 5px;
        background-color: $primary-color-2;
        padding: 10px;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
      }

      .ChatMembers {
        max-height: 30vh;
        overflow-y: auto;
        border-radius: 20px;
        padding: 10px;
        margin: 20px;
        border: 1px solid $border-color;

        .member {
          margin-bottom: 5px;
          display: flex;

          img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
            margin-right: 5px;
            cursor: pointer;

            &:hover {
              box-shadow: 0 0 10px 2px #0000004b;
            }
          }

          div {
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }
    }
  }

  &.ChatsSidebar {
    .top {
      display: flex;
      height: 60px;
      width: calc(30vw - 21px);
      padding-bottom: 10px;

      .title {
        font-size: xxx-large;
      }
      img.userImage {
        float: right;
        margin-top: 10px;
        margin-left: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 10px 2px #0000004b;
        }
      }
    }

    .SidebarInputContainer {
      display: flex;
      height: 35px;
      margin-bottom: 10px;

      input {
        height: 17px;
        width: 100%;
        border: none;
        outline: none;
        margin-right: 10px;
        background-color: $primary-color-2;
      }

      div {
        //      background-color: $primary-color-2;

        padding: 10px;

        height: 17px;
        width: 17px;
        cursor: pointer;

        color: $secundary-color;
      }
    }
    .ChatsContainer {
      height: calc(100vh - 126px);
      overflow-y: auto;
      .ChatPreview {
        display: flex;
        padding: 10px;
        margin: 10px 0 0 0;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
          background-color: $primary-color-hover;
        }

        &.selected {
          background-color: $primary-color-selected;
        }

        .ChatPreviewImage {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .ChatPreviewName {
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }
}

.Main {
  height: 100vh;
  width: 70vw;
  background-color: $primary-color;

  .Header {
    z-index: 3;
    width: calc(70vw - 20px);
    position: absolute;
    padding-top: 22.5px;
    padding-left: 10px;
    padding-bottom: 22.5px;
    border-bottom: 1px solid $border-color;
    background-color: $primary-color;

    /*border-radius: 10px 10px;
    border: 1px solid $border-color;
    display: flex;
    top: 10px;
    right: 10px;
    position: absolute;

    height: 51px;*/

    .ChatName {
      display: inline;
      margin-right: 0;
    }

    .icon {
      display: inline;
      float: right;
      margin-right: 10px;

      &.compassIcon {
        &:hover {
          transition: 1s transform;
          transform: rotate(360deg);
        }
      }
    }
  }

  .MessagesContainer {
    padding: 10px 30px 0 30px;
    height: calc(100vh - 67px);
    overflow-y: auto;

    .Message {
      display: flex;
      margin: 0 0 1px;
      .ProfilePicture {
        visibility: hidden;
        border-radius: 50%;
        margin-top: auto;
        margin-right: 5px;
        width: 30px;
        height: 30px;
      }
      div {
        .MessageAuthor {
          font-size: 15px;
          display: inline;
        }

        div {
          display: flex;
          .MessageContent {
            border: 1.5px solid;
            border-color: $border-color;
            background-color: $primary-color-2; //rgb(238, 238, 238);
            border-radius: 0 20px 20px 0;
            padding: 7px;
            width: fit-content;
            max-width: 35vw;
          }
        }
      }

      &:hover .DeleteMessage {
        visibility: visible;
      }

      &.LastMessage {
        margin: 0 0 25px;
        //Design 2
      }

      &.FirstMessage .ProfilePicture {
        visibility: visible;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 10px 2px #0000004b;
        }
      }

      &.LastMessage .MessageContent {
        border-bottom-left-radius: 20px 20px;
      }

      &.FirstMessage .MessageContent {
        border-top-left-radius: 20px 20px;
      }
    }

    .SelfMessage {
      display: flex;
      margin: 0 0 3px;

      button.DeleteMessage {
        pointer-events: auto;
        visibility: hidden;
        color: grey;
        background-color: $primary-color-2; //rgb(238, 238, 238);
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        padding: 10px;
        border-radius: 50%;
        border: none;
        outline: none;

        &:hover {
          background-color: $primary-color-hover; //rgb(238, 238, 238);
        }
      }

      .MessageContent {
        background-color: $primary-color-2; //rgb(238, 238, 238);
        padding: 7px;
        border-radius: 20px 0 0 20px;
        margin-left: 5px;
        max-width: 35vw;
      }

      .ProfilePicture {
        visibility: hidden;
        border-radius: 50%;
        margin-top: auto;
        margin-left: 5px;
        width: 30px;
        height: 30px;
      }

      &:hover .DeleteMessage {
        visibility: visible;
      }

      &.LastMessage {
        margin: 0 0 20px;
      }

      &.FirstMessage .ProfilePicture {
        visibility: visible;
      }

      &.LastMessage .MessageContent {
        border-bottom-right-radius: 20px 20px;
      }

      &.FirstMessage .MessageContent {
        border-top-right-radius: 20px 20px;
      }
    }
  }

  .Bottom {
    //position: absolute;
    //top: calc(100% - 65px):
    width: calc(70vw - 60px);
    display: flex;
    padding: 0 30px 0 30px;

    .MessageInput {
      padding: 10px;
      width: 100%;
      height: 30px;
      display: flex;

      .UploadImageIcon {
        margin: auto 10px auto 0;
        color: grey;
        cursor: pointer;
        &:hover {
          color: rgb(119, 119, 119);
        }
      }

      input {
        width: 100%;
        //width: calc(70vw - 100px);
        border-radius: 20px;
        background-color: $primary-color-2;
        border: none;
        outline: none;
      }
    }

    .SendMessageIcon {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 15px;
      color: $secundary-color; //rgb(33, 173, 219);
      cursor: pointer;
    }
  }
}

.Banner {
  position: absolute;
  box-shadow: 0 0 10px 2px #0000004b;
  border-radius: 10px;
  padding: 20px;
  background-color: $primary-color;
  transform: translate(0, 60px);
  opacity: 0;
  z-index: 2;
  display: none;

  &.active {
    opacity: 1;
    display: block;
    transition: 1s opacity;
  }

  .Picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  div.bannerTop {
    display: flex;
    div.data {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 5px;
      display: inline-block;
    }
  }
  .description {
    margin-top: 5px;
    background-color: $primary-color-2;
    padding: 10px;
    border-radius: 10px;
    max-width: 200px;
  }
}

.userSettingsBanner{
  position: absolute;
  box-shadow: 0 0 10px 2px #0000004b;
  border-radius: 10px;
  padding: 10px;
  background-color: $primary-color;
  z-index: 7;
  transform: rotate(-90deg);
  //top: -80px;
  display:flex;
  left: calc(30vw - 210px);
  top: -100%;

  transition: all 1s ease-in-out;

  &.active{
    top: 0;
    transform: rotate(0deg);
    left: calc(30vw - 70px);
    width: auto;
    height: auto;
  }
  .sidebar {
    position: relative;
    padding-right: 10px;
    border-right: 2px solid $border-color ;
  }

  .settings {
    margin-left: 10px;
  }
}

.userDisplay {
  .userPicture {
    display:block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  div.data {
    display: flex;

    div.text {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 5px;
      display: inline-block;
    }
    input[type="text"] {
      padding: 2px;
      background-color: $primary-color;
      font-family: "Inter Tight", sans-serif;

      &:focus {
        background-color: $primary-color-2;
      }
      &.first_name {
        font-size: large;
        font-weight: bold;
      }
    }
    div.username {
      display: flex;
    }
  }

  textarea {
    outline: none;
    width: calc(100% - 15px);
    height: 200px;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    background-color: $primary-color-2;
  }

  input[type="button"] {
    padding: 5px;
  }

  .error {
    color:red;
  }

  .description {
    margin-top: 5px;
    background-color: $primary-color-2;
    padding: 10px;
    border-radius: 10px;
    max-width: 200px;
  }
}

.SettingsOption {
  display: flex;
  height: 30px;
  margin: 5px;

  .selectionBar {
    border-radius: 10px;
    background-color: $secundary-color;
    width: 4px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    visibility: hidden;
  }

  .option {
    padding: 5px;
    width: 100%;
    border-radius: 5px;

    &:hover {
      background-color: $primary-color-hover;
    }
  }

  &:hover .option {
    box-shadow: 0 0 2px 1px #0000004b;
  }

  &.active .selectionBar {
    visibility: visible;
  }

  &.active .option {
    box-shadow: 0 0 2px 1px #0000004b;
  }
}



.Notification {
  position: absolute;
  padding: 10px;
  border-radius: 20px;
  left: 50%;
  top: 10px;
  transform: translate(-50%, calc(-100% - 21px));
  background-color: $primary-color-2;
  box-shadow: 0 0 10px 1px #0000004b;
  z-index: 6;
  display: flex;
  transition: 0.5s transform;

  &.active {
    transform: translate(-50%, 0);
  }

  img {
    width:40px;
    height:40px;
    border-radius: 10px;
    margin-right: 5px;
  }
}

.userLink {
  bottom: 2px;
  position: absolute; 
  font-size: small;

  input[type="text"]{
    padding: 5px;
    width: 90px;
  }
  input[type="button"] {
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(65, 180, 65);
  }
}
