<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@{{ account.user.username }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/cafc3d14ff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <script src="{% static 'core/js/account.js' %}"></script>
</head>
<body>
    <div class="modal active">
        <div class="userDisplay">
            <div class="top">
                <img src="{{ account.image }}" alt="" class="Picture" onerror="this.src='/media/Account/user.png'">
                <div class="data">
                    <b>{{ account.user.first_name }}</b>
                    <div>@{{ account.user.username }}</div>
                </div>
            </div>
            <div class="description">{{account.description}}</div>
        </div>
        <div class="modalButtons">
            <input type="button" value="Join on Jelly!" class="shine" onclick="location.href=`${window.location.origin}/register/?joinUser={{ account.user.username }}`">
        </div>
    </div>
</body>
</html>