<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'core/favicon.ico' %}"
    />

    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/css/style.css' %}"
    />
    <script src="{% static 'core/js/login.js' %}"></script>
  </head>
  <body>
    <form class="modal active" id="LoginForm" action="/login/" method="post">
      {% csrf_token %}
      <div class="title">Login</div>
      <label for="username">Username</label>
      <div class="UsernameInput">
        <div>@</div>
        <input
          type="text"
          name="username"
          placeholder="Username"
          id="UsernameInput"
          required
        />
      </div>
      <label for="password">Password:</label>
      <input type="password" name="password" required />

      <input type="submit" class="btnPurple" value="Submit" />
      <input type="hidden" name="joinUser" value="">
    </form>
  </body>
</html>
